https://cdn3.vectorstock.com/i/thumb-large/32/97/crystal-gem-icon-for-game-ui-vector-16193297.jpg
https://cdn4.iconfinder.com/data/icons/free-crystal-icons/512/Emerald.png
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTof5dpTQkAFWUDRfMDyScdHKosuswdsV2N-761m6X0m0txQR2k
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWCSlz40_IxS5L68e-qDaPKVUyM_aBnwY7YVs-Ly1YFaz81BSZ
